<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Alfalibros C.A - La mejor libreria en Venezuela{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('public/css/bootstrap.css') }}" rel="stylesheet">            
            <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('public/css/w3.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('public/css/w3-theme-blue-grey.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="w3-theme-l5">
        {% block body %}{% endblock %}
        {% block javascripts %}          
           <script src="{{ asset('public/js/jquery-1.12.0.js') }}" ></script>
           <script src="{{ asset('public/js/bootstrap.min.js') }}" ></script>           
           <script src="{{ asset('public/js/ekko-lightbox.min.js') }}" ></script>
           
        {% endblock %}
    </body>
</html>
